﻿@model CompanySiteApp.Models.Company

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.Label("", (string)ViewBag.Error, new { style = "color:#ff0000" })
    <div class="form-horizontal">
        <h4>Company</h4>
           <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    
}
@Html.Label("", (string)ViewBag.Result)
<div>
    @Html.ActionLink("Back to List", "CompanySiteDetails", "CompanySite")
</div>
